{% extends 'admin/master.html' %}
{% block main_content %}
    <div class="col-12">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert {% if get_flashed_messages(category_filter=["error"]) %} alert-danger
                     {% elif get_flashed_messages(category_filter=["success"]) %} alert-success
                     {% endif %} alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                        <h5 class="text-black-50">{{ message }}</h5>
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <div class="col-12">
        <div class="bg-light rounded h-100 p-4">
            <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-4"><i class="fas fa-money-bill-wave me-2"></i> &nbsp;Currency list</h6>
                <a href="#" type="button" class="btn btn-outline-success mb-3" data-bs-toggle="modal"
                   data-bs-target="#insertModal">Add new currency
                    &nbsp;<i class="far fa-plus-square me-2"></i></a>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Code</th>
                        <th scope="col">Symbol</th>
                        <th scope="col">Is default</th>
                        <th scope="col">Sell out price</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in rows %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ row['name'] }}</td>
                            <td>{{ row['code'] }}</td>
                            <td>{{ row['symbol'] }}</td>
                            <td>{{ row['is_default'] }}</td>
                            <td>{{ "${:,.2f}".format(row['sell_out_price']) }}</td>
                            <td>
                                <a href="#" type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                   onclick="getOldData('{{ row['id'] }}','{{ row['name'] }}','{{ row['code'] }}','{{ row['symbol'] }}','{{ row['is_default'] }}','{{ row['sell_out_price'] }}')"
                                   data-bs-target="#updateModal">Edit
                                    &nbsp;<i class="far fa-edit"></i></a>
                                <a href="#"
                                   class="btn btn-outline-danger delete-button" data-bs-toggle="modal"
                                   onclick="getRecordId('{{ row['id'] }}')"
                                   data-bs-target="#deleteConfirmationModal">Delete<i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {#Inser Modal#}
    <div class="modal fade" id="insertModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"><i class="fas fa-money-bill-wave me-2"></i>
                        &nbsp;Insert
                        currency</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="{{ url_for('insertData', table_name='currency') }}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name <span style="color: red">*</span></label>
                            <input type="text" class="form-control" name="name" id="name">
                        </div>
                        <div class="mb-3">
                            <label for="code" class="form-label">Code <span style="color: red">*</span></label>
                            <input type="text" class="form-control" name="code" id="code">
                        </div>
                        <div class="mb-3">
                            <label for="symbol" class="form-label">Symbol <span style="color: red">*</span></label>
                            <input type="text" class="form-control" name="symbol" id="symbol">
                        </div>
                        <div class="mb-3">
                            <label for="is_default" class="form-label">Status <span
                                    style="color: red">*</span></label>
                            <select class="form-select" name="is_default" id="is_default">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="sell_out_price" class="form-label">Sell out price <span
                                    style="color: red">*</span></label>
                            <input type="text" class="form-control" name="sell_out_price" id="sell_out_price">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {#End Inser Modal#}

    {#Update Modal#}
    <div class="modal fade" id="updateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"><i class="fas fa-money-bill-wave me-2"></i>
                        &nbsp;Update
                        currency</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="{{ url_for('updateRecord', table_name='currency') }}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <input type="hidden" name="edit_currency_id" id="edit_currency_id">
                            <label for="edit_name" class="form-label">Name <span style="color: red">*</span></label>
                            <input type="text" class="form-control" name="edit_name" id="edit_name">
                        </div>
                        <div class="mb-3">
                            <label for="edit_code" class="form-label">Code <span style="color: red">*</span></label>
                            <input type="text" class="form-control" name="edit_code" id="edit_code">
                        </div>
                        <div class="mb-3">
                            <label for="edit_symbol" class="form-label">Symbol <span style="color: red">*</span></label>
                            <input type="text" class="form-control" name="edit_symbol" id="edit_symbol">
                        </div>
                        <div class="mb-3">
                            <label for="edit_is_default" class="form-label">Status <span
                                    style="color: red">*</span></label>
                            <select class="form-select" name="edit_is_default" id="edit_is_default">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="edit_sell_out_price" class="form-label">Sell out price <span
                                    style="color: red">*</span></label>
                            <input type="text" class="form-control" name="edit_sell_out_price" id="edit_sell_out_price">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {#End Update Modal#}

    {# DELETE MODAL#}
    <div class="modal fade" id="deleteConfirmationModal" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteConfirmationModalLabel"><i
                            class="fas fa-money-bill-wave"></i>
                        &nbsp;Remove currency</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{{ url_for('removeRecord', table_name='currency') }}" method="POST">
                    <div class="modal-body">
                        <input name="recordID" id="recordID" type="hidden">
                        <h6 class="text-danger">Are you sure you want to remove this Currency?</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-primary" id="confirmDelete">Yes</button>
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {#End DELETE MODAL#}

    <script>
        function getRecordId(id) {
            const recordID = document.getElementById('recordID')
            recordID.value = id
        }

        function getOldData(id, name, code, symbol, is_default, sell_out_price) {
            document.getElementById('edit_name').value = name;
            document.getElementById('edit_currency_id').value = id;
            document.getElementById('edit_is_default').value = is_default;
            document.getElementById('edit_symbol').value = symbol;
            document.getElementById('edit_code').value = code;
            document.getElementById('edit_sell_out_price').value = sell_out_price;
        }
    </script>
{% endblock %}